*:not(input) {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.mt_6 {
    margin-top: 6px !important;
}
.mb_6 {
    margin-bottom: 6px !important;
}
.ml_6 {
    margin-left: 6px !important;
}
.mr_6 {
    margin-right: 6px !important;
}
.ml_12 {
    margin-left: 12px !important;
}
.ml_auto {
    margin-left: auto !important;
}
.mx_auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.my_12 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.my_6 {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}
.p_0 {
    padding: 0 !important;
}
.p_6 {
    padding: 6px !important;
}
.p_3 {
    padding: 3px !important;
}
.pb_0 {
    padding-bottom: 0px !important;
}
.m_3 {
    margin: 3px !important;
}
.progress_container {
    position: relative;
    z-index: 1000000;
    height: 4px;
}
.flex {
    display: flex !important;
}
.flex_col {
    flex-direction: column;
}
.flex_wrap {
    flex-wrap: wrap;
}
.space_between {
    justify-content: space-between;
}
.align_items_center {
    align-items: center !important;
}
.justify_content_center {
    justify-content: center !important;
}
.justify_content_start {
    justify-content: flex-start !important;
}
.flex_1 {
    flex: 1;
}
.full_width {
    width: 100% !important;
}
.full_height {
    height: 100% !important;
}
.full_screen {
    height: 100vh;
    width: 100vw;
}
.more_actions {
    top: 6px !important;
    right: 6px !important;
    min-width: 128px !important;
}
.bg_error {
    background-color: #f44336 !important;
    color: #ffffff !important;
}
.bg_error:hover {
    background-color: #d32f2f !important;
}
.color_error {
    color: #f44336;
}
.br_0 {
    border-radius: 0px !important;
}
.br_circle {
    border-radius: 50% !important;
}
.overflow_auto {
    overflow: auto !important;
}
.nowrap {
    white-space: nowrap !important;
}
.no_scrollbar {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
.no_scrollbar::-webkit-scrollbar {
    display: none;
}  
.overflow_scroll {
    overflow: scroll !important;
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -16px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -16px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -8px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* tinymce */
.tox.tox-tinymce {
    visibility: visible !important;
    height: 100% !important;
    background-color: white;
}
.tox-pop {
    display: none !important;
}
.mce-notification {
    display: none;
}
.tox-notifications-container {
    display: none !important;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0) !important;
}
.tox-edit-area {
    border-radius: 6px;
}
.tox-edit-area > iframe {
    width: 100%;
}
.tox-tinymce {
    border-radius: 10px !important;
    flex: 1;
}
.tox-editor-container, .tox-sidebar-wrap, .tox-edit-area, .tox-edit-area > iframe {
    height: 100%;
}